[submodule "buildroot"]
	path = buildroot
	url = https://github.com/Outernet-Project/buildroot.git
[submodule "rootfs/package"]
	path = rootfs/package
	url = https://github.com/Outernet-Project/buildroot-packages.git
